* {
    margin: 0;
    padding: 0;
    
}
body{
    justify-content: center;
    align-items: center;
    padding: 9rem;
   background-color: rgb(255, 255, 251);
    margin-left: 9rem;}
.login-container{
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.login-container h1{
    color: blue;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-left: 7rem;
}
.label-division{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.btn{
    color: white;
    background-color: blue;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(2, 2, 169);
}
.input-container{
 padding: 0.5rem;
 border-radius: 5px;
}
.Sign-up{
    padding-top: 1rem;
}
.Sign-up a{
    text-decoration: none;
}
.Sign-up a:hover{
    text-decoration: underline;
}